@media only screen and (max-width:768px) {
    .header i{
        display: inline;
    }
    .header a{
        display: none;
    }
   .banner{
    position: absolute;
    margin-top: 60%;
    margin-left: 30%;
}
.svte__content{
    grid-template-columns: 1fr;
}
.gazz__content{
    grid-template-columns: 1fr;
    margin-bottom: 200px;
}
.gazz__content{
    margin-bottom: 50vh;
}
.contact__contact{
    grid-template-columns: 1fr;
}
}